@import url(MyriadPro/fonts.css);
@import url(style.css);

.box-wp{
		width: 85%;
		margin: 0 5% 0 10%;
}


.section-header{
		padding: 10px 0 15px;
		display: flex;

}

.header-left .logo {
		display: flex;
		flex-wrap: wrap;
}


.logo .content {
		padding: 15px ;
		font-size: 16px;
}

.logo .content h1 {
		font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
		font-size: 1.25em;
}

.logo .content p { 
		font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
		font-size: 1em;
}

.header-right {
		display: flex;
		flex-wrap: wrap;
		background: url(../images/icon-number.jpg) left no-repeat;
		padding-left: 50px;
		height: 100%;
		line-height: 70px;
}

.header-right p {
		font-size: 1rem;
}

.header-right a {
		color: #4cc1fc;
		font-size: 18px;
		padding-left: 20px;
}

.section-menu {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #e9e9e9;
		border-bottom: 1px solid #e9e9e9;
}

nav ul{
		background-color: #ffffff;
}

nav ul li{
		border-left: 1px solid #e9e9e9;
}

nav ul li:first-child{
		border-left: 0;
}

nav ul li a {
		color: #8e8e8e;
		padding: 25px 20px;
}
	
nav ul li a:hover {
		color: #62c6f8;
}

.menu-social ul li a{
		line-height: 70px;
		padding-right: 10px;
}


.section-banner{
		position: relative;
		background: url("../images/banner.jpg") top left no-repeat; 
		background-size: auto 100%;
		height: 160px;
}


.section-banner div {
		position: absolute;
		top: 45%;
}

.page-main .main-content{
		display: flex;
		flex-wrap: wrap;
		padding: 75px 0 40px;
}

.aside-adults .title-adults,
.aside-children .title-children{
		padding: 20px;
    background: #d9e4e9;
    position: relative;
}

.aside-adults .title-adults::after{
	content: '-';
	position: absolute;
	right: 21px;
}

.aside-children .title-children::after{
	content: '+';
	position: absolute;
	right: 21px;
}

.aside-form {
  text-align: center  ;
		background: #d9e4e9;
}

.page-aside{
		width: 25%;
}

.aside-adults .nav-adults{
		margin: 2px 20px 25px;
}

.nav-adults ul li{
		list-style-position: inside;
		list-style-type: disc;
		border-left: 0;
		margin-top: 21px;
}

.nav-adults li a{
		padding: 0;
		font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
		font-size: 12px;
}

.aside-children {
  margin-bottom: 42px;
}

.section-content {
		width: 75%;
}

.aside-form {
  display: flex;
  padding: 27px 20px;
}

.aside-form .title-form{
  font-size: 18px;
  padding-bottom: 22px;
  text-align: left;
  /* border-bottom: 2px solid #62c6f8; */
}

.aside-form input {
  width: 100%;
  margin-top: 15px;
	padding: 14px 12px;
}

.aside-form input[type = submit] {
  background-color: #4bbc56;
  width: 50%;
  border: 0;
}

.section-list{
		display: flex;
		flex-wrap: wrap;
}

.services-item{
		position: relative;
		width: 31.3333333%;
		margin: 0 0 2% 2%;
		border: 1px solid #ebebeb;
}

.services-item::after{
		content: url("../images/icon-arrow.jpg");
		position: absolute;
		right: 0;
		bottom: 0;
		height: 15px;
}

.services-img img{
		width: 100%;
		height: 195px;
}

.services-item .services-name,
.services-item .services-content{
		padding: 24px 0 0 24px;
}

.services-item .services-name{
		font-size: 1rem;
		font-weight: bold;
}

.services-item .services-content {
		font-size: 13px;
		padding-bottom: 40px;
}

.page-footer{
		background-color: #62c6f8;
		color: #ffffff;
}

.section-footer {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 0 40px;
		font-size: 12px;
}

.section-footer .section-about,
.section-footer .section-support,
.section-footer .section-connect {
		width: 33.3333333%;
}

.section-footer .title {
		font-family: 'Myriad Pro' ,Arial, Helvetica, sans-serif;
		font-size: 18px;
		margin-bottom: 7px;
}

.section-footer .content a{
		font-size: 1em;
		text-transform: uppercase;
		color: #ffffff;
}

.section-about .content ul ,
.section-support .content ul ,
.section-connect .content ul{
		list-style-position: inside;
}

.section-about .content ul li,
.section-support .content ul li,
.section-connect .content ul li{
		margin-top: 21px;
}

.section-connect .content ul{
		list-style-type: none;
}

.section-connect .content ul li a{
		display: flex;
		align-items: center;
}

.section-connect .content li a img{
		margin-right: 9px;
}

.section-copyright {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #81d1f9;
		text-transform: uppercase;
		padding: 23px 0;
		font-size: 1em;
}

.section-copyright a {
		color: #7df1cf;
		font-size: 1em;
}