* ,*:before, *:after {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

a {
	color: #000000;
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

a:hover,
a:focus,
a.active{
	color: #62c6f8;
}

.fl-left{
	float: left;
	box-sizing: border-box;
}

.fl-right{
	float: right;
	box-sizing: border-box;
}

.clr{
	content: "";
	clear: both;
	display: block;
}

.menu-nav ul,
.menu-social ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
}
.menu-nav ul li,
.menu-social ul li{
		float: left;
}

.menu-nav ul li a,
.menu-social ul li a{
		display: block;
		text-align: center;
		text-decoration: none;
}


input[type="date"] {
	position: relative;
	padding: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	color: transparent;
	background: none;
	z-index: 1;
}
input[type="date"]:before {
	color: transparent;
	background: none;
	display: block;
	font-family: 'FontAwesome';
	content: '\f073';
	/* This is the calendar icon in FontAwesome */
	width: 15px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 6px;
	color: #999;
}